%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}

%section.email-form

  .col-xs-12.text-center.logo
    %img{src: asset_path("logo.png") }
    .social-links.hidden-xs
      %a{href:"https://www.facebook.com/RubyConfCo",target:"_blank"}
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-facebook.fa-stack-1x.fa-inverse
      %a.twitter-link{hre:"https://twitter.com/RubyConfCo",target:"_blank"}
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-twitter.fa-stack-1x.fa-inverse

  .container
    .row
      .col-xs-12.text-center.principal-copy
        %h1.title1 DANCE WITH US, RUBYCONF COLOMBIA
        %h1.title2 MEDELLIN, COLOMBIA | SEPTEMBER, 2016

      .col-xs-12.col-sm-6.col-sm-offset-3
        = simple_form_for @user, url: {action: 'create'} do |f|
          .form-inputs
            %label Suscribe us for all the news about the event!
            .row
              .col-xs-12
                .input-email= f.email_field :email, required: true, placeholder: "Write your mail address", class:"form-control"
                .btn-submit-email=f.submit
            %p#notice= notice

      .col-xs-12.text-center.event-date
        %h1.title3 THE EVENT STARTS IN
        %ul.list-inline
          %li
            %h4#days 0
            %span DAYS
          %li
            %h4#hours 0
            %span HOURS
          %li
            %h4#minutes 0
            %span MINUTES
          %li
            %h4#seconds 0
            %span SECONDS

      .col-xs-12.text-center.visible-xs.icons-mob
        %a{href:"https://www.facebook.com/RubyConfCo",target:"_blank"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %a.twitter-link{hre:"https://twitter.com/RubyConfCo",target:"_blank"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse

:javascript

    var date_event = new Date(2016, 8, 30, 23, 60);

    function countdown() {
      var now = new Date();
      var difference = date_event - now;

      if (difference > 0) {
        var seconds = Math.round(difference / 1000);
        var minutes = Math.floor(seconds / 60);
        var seconds_s = seconds % 60;
        var hours = Math.floor(minutes / 60);
        var minutes_s = minutes % 60;
        var days = Math.floor(hours / 24);
        var hours_s = hours % 24;

        document.getElementById("days").innerHTML= days;
        document.getElementById("hours").innerHTML= hours_s;
        document.getElementById("minutes").innerHTML= minutes_s;
        document.getElementById("seconds").innerHTML= seconds_s;

        setTimeout("countdown()", 1000);
      }
      else {
        document.getElementById("days").innerHTML= days;
        document.getElementById("hours").innerHTML= hours_s;
        document.getElementById("minutes").innerHTML= minutes_s;
        document.getElementById("seconds").innerHTML= seconds_s;
      }
    }
    countdown();

